<section class="schedule-page schedule-layout" *ngIf="appointments && month">
    <div class="header full">
        <div class="navigate-months">
            <mat-icon
                fontIcon="keyboard_arrow_right"
                [style.fontSize.px]="30"
                [style.width.px]="30"
                [style.height.px]="30"
            ></mat-icon>

            <div class="month-name">
                <span>{{ month.name }}</span>
            </div>

            <mat-icon
                fontIcon="keyboard_arrow_left"
                [style.fontSize.px]="30"
                [style.width.px]="30"
                [style.height.px]="30"
            ></mat-icon>
        </div>

        <div class="navigate-days">
            <div class="days-names">
                <ul>
                    <li>א</li>
                    <li>ב</li>
                    <li>ג</li>
                    <li>ד</li>
                    <li>ה</li>
                    <li>ו</li>
                    <li>ש</li>
                </ul>
            </div>

            <div class="days-numbers">
                <ul>
                    @for (dayNumber of [].constructor(7); track $index) {
                    <li [ngClass]="{ active: $index === 2 }">
                        {{ month.dayStart + $index }}
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="body">
        <ul class="hours">
            @for(hour of hours; track $index) {
            <li>
                {{ hour }}
            </li>
            }
        </ul>

        <ul class="appointments">
            @for (appointment of appointments; track $index) {
            <li
                [ngStyle]="
                    getAppointmentStyle(
                        appointment,
                        $index === appointments.length - 1 ? true : false
                    )
                "
                [ngClass]="{
                    empty: !appointment.isBooked,
                    decimal: isDecimal(appointment.timeStart)
                }"
                #elAppointment
            >
                <div class="inner-container">
                    <div
                        class="icon"
                        *ngIf="!elAppointment.classList.contains('empty')"
                    >
                        <mat-icon
                            fontIcon="check"
                            [style.color]="'white'"
                        ></mat-icon>
                    </div>

                    <div
                        class="content"
                        *ngIf="!elAppointment.classList.contains('empty')"
                    >
                        <div class="details">
                            <div class="title">{{ appointment.title }}</div>
                            <div class="client-name">
                                {{ appointment.clientName }}
                            </div>
                        </div>

                        <div class="hours" dir="ltr">
                            {{ appointment.timeStart }} -
                            {{ appointment.timeEnd }}
                        </div>
                    </div>
                </div>
            </li>
            }

            <ul class="seperators">
                @for (seperator of [].constructor(11); track $index) {
                <li
                    class="seperator"
                    [ngStyle]="getSeperatorStyle($index)"
                ></li>
                }
            </ul>
        </ul>
    </div>

    <settings-schedule></settings-schedule>
</section>
