<section class="schedule-page schedule-layout" *ngIf="appointments && month">
    <div class="header full">
        <div class="navigate-months">
            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>

            <div class="month-name">
                <span>{{ month.name }}</span>
            </div>

            <mat-icon fontIcon="keyboard_arrow_left"></mat-icon>
        </div>

        <div class="navigate-days">
            <div class="days-names">
                <ul>
                    <li>א</li>
                    <li>ב</li>
                    <li>ג</li>
                    <li>ד</li>
                    <li>ה</li>
                    <li>ו</li>
                    <li>ש</li>
                </ul>
            </div>

            <div class="days-numbers">
                <ul>
                    @for (dayNumber of [].constructor(7); track $index) {
                    <li>{{ month.dayStart + $index }}</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="body">
        <ul class="hours">
            @for(hour of hours; track $index) {
            <li>{{ hour }}</li>
            }
        </ul>

        <ul class="appointments">
            @for (appointment of appointments; track $index) {
            <li [ngStyle]="calculateAppointmentStyle(appointment)">
                <div class="icon">
                    <mat-icon
                        fontIcon="check"
                        [style.color]="'white'"
                    ></mat-icon>
                </div>

                <div class="content">
                    <div class="hours" dir="ltr">
                        {{ appointment.timeStart }} - {{ appointment.timeEnd }}
                    </div>

                    <div class="details">
                        <div class="title">{{ appointment.title }}</div>
                        <div class="client-name">
                            {{ appointment.clientName }}
                        </div>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</section>
