@font-face {
    font-family: 'Birzia-Black';
    src: url('../assets/fonts/Birzia-Black.otf');
}

@font-face {
    font-family: 'Birzia-Bold';
    src: url('../assets/fonts/Birzia-Bold.otf');
}

@font-face {
    font-family: 'Birzia-Medium';
    src: url('../assets/fonts/Birzia-Medium.otf');
}

@font-face {
    font-family: 'Birzia-Light';
    src: url('../assets/fonts/Birzia-Light.otf');
}
