<section class="blocking-management-page">
    <div class="header full">
        <div class="inner-container">
            <mat-icon
                fontIcon="keyboard_arrow_right"
                [style.fontSize.px]="30"
                [style.width.px]="30"
                [style.height.px]="30"
            ></mat-icon>

            <h1>ניהול חסימות</h1>

            <mat-icon
                fontIcon="keyboard_arrow_left"
                [style.fontSize.px]="30"
                [style.width.px]="30"
                [style.height.px]="30"
            ></mat-icon>
        </div>
    </div>
</section>
